<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />

    <%= f.password_field :password, autocomplete: "new-password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <%= f.select :instructor_role, [["Student", false], ["Instructor",true]], label: "Select Role" %>

    <%= f.submit "Sign up" %>

<% end %>

